.services__container{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.services__content{
    position: relative;
    background-color: var(--container-color);
    padding: 3rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}

.services__content:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.services__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);

}

.services__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}

.button--small{
    padding: .75rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

.services__button:hover .button__icon{
    transform: translateX(.25rem);
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.services__modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000; /* Ensure modal appears on top of other content */
  }
  
  .services__modal-content {
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-radius: .5rem;
    max-width: fit-content;
    margin: auto;
  }
  
  .services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
  }
  
  .active-modal {
    opacity: 1;
    visibility: visible;
  }


.services__modal-content{
    position: relative;
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-services{
    row-gap: 1rem;
}

.services__modal-service{
    display: flex;
}

.services__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}


.services__modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}


