
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
        --first-color : #986dff;
        --title-color : hsl(244, 24%, 26% );
        --text-color : hsl(244, 16%, 43% );
        --body-color : hsl(258, 60%, 98% );

        --body-font: 'Rubik', sans-serif;

        --h1-font-size: 2.35rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .805rem;

        --font-medium: 500;
        --font-semi-bold: 600;
        --font-bold: 700;

        /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
        --mb-0-25: .25rem;
        --mb-0-5: .5rem;
        --mb-0-75: .75rem;
        --mb-1: 1rem;
        --mb-1-5: 1.5rem;
        --mb-2: 2rem;
        --mb-2-5: 2.5rem;
        --mb-3: 3rem;

        /*========== z index ==========*/
        --z-tooltip: 10;
        --z-fixed: 100;
        --z-modal: 1000;

        --shadow: 0px 5px 20px 0px rgb(69, 67, 96, 0.1);
      
        --border-radius: 20px

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input{
    font-family: var(--body-font);
}

body {
    background-color: #fff;
    line-height: 1.7;
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    line-height: 1.2;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Classes Reutilizaveis*/

.section{
    padding: 4rem 0 2rem;
  }
  
  .section__title, .section__subtitle{
    text-align: center;
  }
  
  .section__title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
    text-align: center;
    display: block;
  }

  .btn{
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: 1.875rem ;
    box-shadow: 0 0 1px rgb(0, 0, 0 / 0%);
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    background-color: var(--first-color);
    font-weight: var(--font-bold);
  }

  .btn:hover{
    animation: button-push 0.3 linear 1;
  }

  @keyframes button-push {
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
  }


 
  .section__subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }

  .grid{
    display: grid;
    gap: 1.5rem;
  }

  /*Responsive*/

  @media screen and (max-width:1024px){
    :root{
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 1em;
        --small-font-size: .815rem;
        --smaller-font-size: .75rem;
    }
  }



/* Scroll personalized*/

::-webkit-scrollbar{
    width: 10px;

  }

  ::-webkit-scrollbar-thumb{
    background-color: #986dff;
    border-radius: 5px;
  }
