@media screen and (max-width:400px) {
    .container {
        margin-left: auto;
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: 25fr 3fr;
    }

    .home__blob {
        width: 180px;
    }

    .__title {
        font-size: var(--normal-font-size);
    }

    .qualification__data {
        gap: .5rem;
    }

    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
    }

    .services__content {
        padding-right: 3.5rem;
    }

    .__section {
        margin-right: 70px;
    }

}

@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }

    .__container,
    .contact__container,
    .footer__container,
    .services__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem o 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }


    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__container {
        column-gap: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .services__container {
        flex-direction: column;
        margin: auto;
        place-items: center;
    }
}

@media screen and (max-width: 800px) {
    .portfolio__column {
        display: block;
        text-align: -webkit-center;
    }

    .portfolio__card {
        margin-bottom: 50px;
    }

    .footer__inner-container {
        display: grid;
        align-items: center;
        text-align: center;
    }

    .about__container {
        display: block;
    }
}